<br>
<br>
<h1 style="text-align: center;">Edit Photo</h1>
<p id="terms">We review each of your photo(s) before publishing and if your submission is accepted, your work will be distributed for free on Ooopic <a href="/terms" target="_blank">Terms</a>. If you'd like to skip this step take a look at our ambassador program. Your approval will be automatic. <a href="" target="_blank">Learn more</a> * <strong>Please only upload photos that you own the rights to</strong>.
</p>


<%= render 'form' %>

