<footer class="footer">
        <div class="footer__copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <p>&copy;2018 Ooopic by <a href="https://www.lavail.io" target="_blank" class="external">Lavail</a></p>
              </div>
              <div class="col-md-6">
                <p class="credit pull-right">Download free (do whatever you want) high-resolution photos.</p>
               <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
              </div>
            </div>
          </div>
        </div>
      </footer>