<header class="header">
    <div role="navigation" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header"><a href="/" class="navbar-brand scroll-to"><img src="https://storage.googleapis.com/lavail_images/uploads/photograph/image/Ooo.png" alt="Ooopic" class="hidden-xs hidden-sm"><img src="https://storage.googleapis.com/lavail_images/uploads/photograph/image/Ooo.png" alt="Ooopic" class="visible-xs visible-sm"><span class="sr-only">Go to homepage</span></a>
          <div class="navbar-buttons">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="pe-7s-menu"></i></button>
          </div>
        </div>
        <div id="navigation" class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
              <% if current_user %>
                <li> <%= link_to current_user.name, profile_path(current_user), class: "scroll-to" %></li>
            <li><%= link_to 'Upload', new_photo_path, class: "scroll-to" %></li>
            <% end %>
            
            <!--<li><a href="#integrations" class="scroll-to">Integrations</a></li>-->
            <!--<li><a href="#testimonials" class="scroll-to">Testimonials</a></li>-->
            <!--<li><a href="#contact" class="scroll-to">About</a></li>-->
            <% if current_user %>
            <a href="#"><%= link_to "Sign out", signout_path, id: "sign_out", class: "btn navbar-btn btn-ghost" %></a>
            <% else %>
            <a href="#" data-toggle="modal" data-target="#get-started" class="btn navbar-btn btn-ghost">Login</a>
            <% end %>
            <% if current_user %>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <div class="inset">
                  <%= image_tag(current_user.image) %>
                </div>
              </li>
            </ul>
            <% end %>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="/terms">Terms of Use</a></li>
              </ul>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </header>
  